@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i');
@import '../../node_modules/lesshat/lesshat.less';
@import '../../node_modules/reset-css/reset';
@import '../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';


// REUSABLES

@colorPrimary: #334;
@colorSecondary: #F38;
@colorYellow: #FA0;


@tc1: fade(@colorPrimary, 87%);
@tc2: fade(@colorPrimary, 54%);
@tc3: fade(@colorPrimary, 30%);

@colorBackground: lighten(@colorPrimary, 74%);
@colorBorder: fade(@colorPrimary, 6%);

@bu: .5rem;  // Base Unit

@fu: 1rem;   // Font unit
@fusm: 0.75rem;
@fulg: 1.25rem;
@fuxl: 1.5rem;

@hToolbar: @bu*4;
@hHeader: @bu*6;

.border-bottom {
  box-shadow: 0 -1px 0 0 @colorBorder inset;
}
.centerContent {
  .display(flex);
  .flex-direction(column);
  .align-items(center);
  .justify-content(center);
}
.pull-right {
  float: right;
}
.capitals {
  font-size: @fusm;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

// BASE

* { box-sizing: border-box; }

html {
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: @bu*3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @tc1;
  background: @colorBackground;

  @media (max-width: 340px) {
    font-size: 14px;
  }
/*
  &:after {
    pointer-events: none;
    @gridColor: fade(cyan, 50%);
    display: block;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 95%, @gridColor 95%);
    background-size:@bu @bu;
  }
  */
}

body {
  padding-top: @hToolbar+@hHeader;
}

.header {
  position: fixed;
  top: @hToolbar;
  left: 0;
  right: 0;
  z-index: 900;
  height: @hHeader;
  background: fade(@colorBackground, 95%);
  .border-bottom;
}

a {
  color: @colorSecondary;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-style: italic;
  color: @colorSecondary;
  .capitals;
  font-size: @fu;
  line-height: @hHeader;
  padding: 0 @bu*2;
}
h2 {
  .capitals;
  font-size: @fu;
  line-height: @bu*3;
  font-weight: 700;
  margin-bottom: @bu;
  &:last-child { margin-bottom: 0; }
}
h3 {
  font-size: @fu;
  line-height: @bu*3;
  font-weight: 700;
  margin-bottom: @bu;
  &:last-child { margin-bottom: 0; }
}
p {
  margin: 0 0 .5em;
  color: @tc2;
  line-height: @bu*3;
}

input:not(.multiselect__input):not([type=submit]), textarea, .input {
  font-family: inherit;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0 0 @bu;
  font-size: @fu;
  line-height: @bu*3;
  padding: @bu/2 @bu;
  border: none;
  .border-bottom;
  background: none;
  border-radius: @bu/2 @bu/2 0 0;
  &:focus {
    background: #FFF;
    outline: none;
    box-shadow: 0 -1px 0 0 @colorSecondary inset;
  }
}
input[type=submit] {
  .btn;
  border:none;
  font-family: inherit;
  font-size: inherit;
  &.btn-primary {
    background: @colorSecondary;
    &:hover {
      background: darken(@colorSecondary, 12%);
    }
  }
}

.multiselect {
  margin: 0 0 @bu;
  padding: @bu/2 @bu;
  .border-bottom;
  min-height: @bu*4;
  &--active {
    background: #FFF;
    outline: none;
    box-shadow: 0 -1px 0 0 @colorSecondary inset;
  }
  &__select {
    height: @bu*4;
    right: 0;
    top: 0;
    padding: 0;
  }
  &__tags {
    .input;
    padding: 0;
    margin: 0;
    min-height: @bu*3;
    box-shadow: none;
    line-height: 0;
  }
  &__tag {
    padding: @bu/2 @bu*3 @bu/2 @bu;
    border-radius: @bu/2;
    margin-right: @bu;
    color: @colorBackground;
    line-height: @bu*2;
    background: @colorSecondary;
    margin-bottom: @bu;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__input {
    .input;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    &:focus {
      background: none;
      box-shadow: none;
    }
  }
}

.btn {
  .capitals;
  font-weight: 700;
  font-size: @fu;
  font-family: inherit;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: @bu/2;
  background: fade(@colorPrimary, 30%);
  color: #FFF;
  padding: @bu*.5 @bu*2 0;
  line-height: @bu*3.5;
  display: inline-block;
  &:hover {
    background: darken(fade(@colorPrimary, 30%), 12%);
  }
  &-primary {
    background: @colorSecondary;
    &:hover {
      background: darken(@colorSecondary, 12%);
    }
  }
}

.closeIcon {
  position: absolute;
  top: @bu;
  right: @bu;
  line-height: @bu*3;
  height: @bu*3;
  width: @bu*3;
  .centerContent;
}

.loading {
  text-align: center;
  padding: @bu*6 0;
  .capitals;
  font-size: @fu*2;
  opacity: 0.25;
}

.fa-icon {
  width: auto;
  height: 1em;
  max-width: 100%;
  max-height: 100%;
}
